# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.coverprofile
coverage.*
profile.cov

# Go workspace file
go.work
go.work.sum

# Dependency directories
# Un-comment the line below if you choose to vendor your dependencies.
# vendor/

# Local environment variables
.env
